<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="rgba(231, 44, 131, 0.8)" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Find a list of the best restaurants in a number of Indonesian provinces">
<link rel="icon" href="./favicon.png">
<link rel="manifest" href="./app.webmanifest">
<link rel="apple-touch-icon" href="/icons/icon-192x192.png">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
<title>ResToYou</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Skip To Content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>ResToYou</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#/like">Favorite</a></li>
        <li><a href="http://www.linkedin.com/in/bernika-irnadianis-iffada-b6585a221">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="hero">
    <div class="container" tabindex="0">
      <h2>Recomendation Restaurants For You</h2>
      <!--<button aria-label="Check Favorite Restaurant" href="latest__label" class="check">Check it here!</button>-->
    </div>
  </div>
  <main id="mainContent"></main>
  <footer class="footer">
    <p>Copyright © ResTo You 2023</p>
  </footer>
</body>

</html>